<div class="columns products">
    <% products_new.forEach(function(p) { %>
    <div class="column col-sm-6 col-xs-6  col-md-6 col-lg-3 col-3">

        <div class="product">
            <div class="p-badge">Новый</div>
            <a href='/<%= p.url %>'>
                <img class="img-responsive" src="http://rouse.one<%= p.main_img %>">
            </a>

            <div class="product-wraper">
                <div class="price">2 000 руб.</div>
                <div class="caption">
                    <%= p.caption %>
                </div>
                <div class="description text-right">
                    <div><b>Масса:</b> <%= p.mass %> гр.</div>
                    <div><b>Какао:</b> <%= p.cacao_percent %>%</div>
                    <% if ((p.filling != null) && (p.filling != '')) { %>
                    <div><b>Наполнитель:</b> <%= p.filling %></div>
                    <% } %>
                </div>
                <div class="button-container">
                    <button class="btn btn-primary to_cart btn-lg"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp;
                        В корзину
                    </button>
                </div>
            </div>
        </div>

    </div>
    <% }); %>
</div>
